@use "../static";

.track {
  .info > div > div:first-of-type {
    color: static.$flatGray;
  }

  .info > div > div:last-of-type {
    font-weight: 700;
    color: static.$flatBlack;
  }

  .d-status.success {
    color: static.$flatGreen !important;
  }
  .d-status.failed {
    color: static.$flatRed !important;
  }
  .d-status.canceled {
    color: static.$flatGold !important;
  }

  .progress-step-container.ideal {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;

    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        padding: 1rem;
        border-radius: 50%;
      }

      p {
        margin: 0;
      }

      .progress-title {
        font-weight: 700;
      }

      .show {
        display: block !important;
      }

      .hidden {
        display: hidden !important;
      }
    }

    .dash-between {
      width: 20%;
      height: 5px;
      background-color: static.$flatBlack;
    }
  }

  .progress-step-container.success {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;

    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        background-color: static.$flatGreen;
        color: static.$flatWhite;
        padding: 1rem;
        border-radius: 50%;
      }

      p {
        margin: 0;
      }

      .progress-title {
        font-weight: 700;
      }

      .show {
        display: block !important;
      }

      .hidden {
        display: hidden !important;
      }
    }

    .dash-between {
      width: 20%;
      height: 5px;
      background-color: static.$flatGreen;
    }
  }

  .progress-step-container.failed {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;

    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      span {
        background-color: static.$flatRed;
        color: static.$flatWhite;
        padding: 1rem;
        border-radius: 50%;
      }

      p {
        margin: 0;
      }

      .progress-title {
        font-weight: 700;
      }

      .show {
        display: none !important;
      }

      .hidden {
        display: block !important;
      }
    }
    
    .dash-between {
      width: 20%;
      height: 5px;
      background-color: static.$flatRed;
    }

    .note {
      color: static.$flatRed;
      font-weight: 400;
    }
  }

  .progress-step-container.canceled {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;

    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        background-color: static.$flatGold;
        color: static.$flatWhite;
        padding: 1rem;
        border-radius: 50%;
      }

      p {
        margin: 0;
      }

      .progress-title {
        font-weight: 700;
      }

      .show {
        display: none !important;
      }

      .hidden {
        display: block !important;
      }
    }

    .dash-between {
      width: 20%;
      height: 5px;
      background-color: static.$flatGold;
    }

    .note {
      color: static.$flatGold;
      font-weight: 400;
    }
  }
}
